* {
    background-color: grey;
}

#header h1 {
    background-color: black !important;
}

#header{
    position: relative;
    display: flex;
    height: 500%;
    color: white;
}

#header #nav_bar {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 10px;
}

.inputs,.password {
    background-color: white !important;
}

.password {
    position: relative;
    left: 4px;
}

.black_bg {
    background-color: black !important;
    color: white;
}


#header a {
   
    color: white;
    text-decoration: none;
}

#login_box h2 {
    margin: 2px;
}

#login_submit, #register_submit {
    left: 78%;
    position: relative;
}
#login_box, #register_box {
    margin-top: 5%;
    left: 5%;
    position: relative;
    width: 20%;
    border-color: white;
    padding: 5px;
    border: 1px;
    border-width: 10px;
    border-radius: 10px;
    
}